body{
    background-color: darkgray;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
#data{
    margin-bottom: 10px;
}
#data input, button{
    padding: 10px;
    width: 90px;
}
#table1{
    /* width: fit-content; */
    border: 0px;
}
h3{
    margin-bottom: 20px;
}
.data mytable{
   
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
#billdate{
    border: none;
}
@media print {

    body{
        background-color: none;
    }
    .hide
    {
        display: none;
    }
    .cus{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
        background-color: none;
        font-size: large;

        
    }
    #table1{
        /* width: fit-content; */
        border: none;
        border-right: none;
        border-left: none;
    }
}
table,tr,th,td{
    height: 1px;
    text-size-adjust: 20px;
}